.profile__button-edit {
  width: 24px;
  height: 24px;
  margin: 0;
  padding-bottom: 6.25%;
  background: transparent;
  border: 1px solid #FFFFFF;
  background-image: url(../../../images/correct.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  box-sizing: border-box;
  position: absolute;
  top: 17%;
  right: 0%;
  transition: 0.5s;
}

.profile__button-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 845px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    padding-bottom: 3%;
    background-size: 7.5px 7.5px;
    top: 10%;
    right: 20%;
  }
}

@media screen and (max-width: 545px) {
  .profile__button-edit {
    top: 15%;
    right: 5%;
  }
}

/* @media screen and (max-width: 845px) {
  .profile__button-edit {
    width: 6.38%;
    max-width: 18px;
    max-height: 18px;
    margin: 0;
    padding-bottom: 5.32%;
    position: absolute;
    top: 10%;
    right: 5%;
    background-size: 7.5px 7.5px;
  }
} */
