.profile__button-edit {
  /* width: 7.14%;
  max-width: 24px;
  max-height: 24px; */
  /* margin: 0 0 0 18px; */
  width: 24px;
  height: 24px;
  margin: 0;
  padding-bottom: 6.25%;
  background: transparent;
  border: 1px solid #FFFFFF;
  background-image: url(../../../images/correct.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  box-sizing: border-box;
  position: absolute;
  top: 17%;
  right: 0%;
}

@media screen and (max-width: 392px) {
  .profile__button-edit {
    width: 6.38%;
    max-width: 18px;
    max-height: 18px;
    margin: 0;
    padding-bottom: 5.32%;
    position: absolute;
    top: 10%;
    right: 5%;
    background-size: 7.5px 7.5px;
  }
}
