.popup__input-container {
  width: 100%;
  margin: 54px 0 0;
  padding: 0;
  position: relative;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 545px) {
  .popup__input-container {
    margin: 75px 0 0;
  }
}
