.popup__content {
  width: 100%;
  max-width: 358px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 545px) {
  .popup__content {
    max-width: 238px;
  }
}
