.header {
  width: 68.75%;
  margin: 45px 0 0;
  padding: 0 0 41px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid rgb(84, 84, 84, .7);
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .header {
    width: 100%;
    margin: 28px 0 0;
    padding: 0 0 31.6px;
  }
}
