.profile__subtitle {
  max-width: 100%;
  margin: 16px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 845px) {
  .profile__subtitle {
    margin: 14px 0 0;
    font-size: 16px;
    line-height: 19.5px;
  }
}


@media screen and (max-width: 545px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}
/*при значение margin: 3px - идеальное совпадение с макетом, оставляю 14, т.к. так идёт про брифу*/
