.content {
  width: 68.75%;
  margin: 40px auto 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46.25px;
  box-sizing: border-box;
}

@media screen and (max-width: 392px) {
  .content {
    width: 88.125%;
    margin: 42px auto 0;
    gap: 36px;
  }
}
