.footer__copy {
  margin: 0;
  padding: 0;
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 845px) {
  .footer__copy {
    font-size: 14px;
    line-height: 17px;
  }
}
