.profile__info {
  width: 38.18%;
  margin: 0 0 0 3.41%;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 392px) {
  .profile__info {
    width: 100%;
    justify-content: center;
    margin: 26px 0 0;
    position: relative;
  }
}
