.popup__title {
  margin: 34px 0 0;
  padding: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 545px) {
  .popup__title {
    margin: 25px 0 0;
    font-size: 18px;
    line-height: 22px;
  }
}
